body {
    background-color: #141414;
    font-size: large;
    margin: 0;
    overflow-x: hidden;
    overflow-y: hidden;
}

.monospace-text {
    position: absolute;
    font-family: 'Courier New', monospace;
    white-space: pre;
    color: white;
    height: calc(100vh - 20px);
    width: calc(100vw - 20px);
    overflow-x: hidden;
    overflow-y: hidden;
    margin: 10px;
}

#birthday-cake, #birthday-cake:hover, #birthday-cake:active, #birthday-cake:focus {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    height: min(50vh, 50vw);
    width: min(50vh, 50vw);
    background-color: transparent;
    border: none;
    display: none;
}

#birthday-cake:hover img, #birthday-cake:active img {
    animation: RGBorder 20s infinite;
}

@keyframes RGBorder {
    0% {
        filter: drop-shadow(0 0 20px red);
    }
    33% {
        filter: drop-shadow(0 0 20px green);
    }
    66% {
        filter: drop-shadow(0 0 20px blue);
    }
    100% {
        filter: drop-shadow(0 0 20px red);
    }
}

.note {
    padding: 0;
    position: absolute;
    transform: translate(0%, -100%);
    top: 170vh;
    width: 0.78125vw;
    height: 100vh;
    background: linear-gradient(to bottom, #141414, rgb(50, 25, 255));
    overflow-x: hidden;
    overflow-y: hidden;
}